<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>THis is the Home page</h1>
    <h3><%= "shahdev".toUpperC ase()%></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi blanditiis quod non dolorum! Vel facilis nobis quo ipsa laudantium delectus dolorum debitis eligendi, quos ad cumque veniam sapiente velit tempore.</p>
    <button>Click Me</button>
</body>
</html>